ColumnLimit: 110
AccessModifierOffset: -4
lignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments : Consecutive 
AlignConsecutiveBitFields : Consecutive 
AlignConsecutiveDeclarations : Consecutive
AlignConsecutiveMacros : Consecutive 
AlignEscapedNewlines : Left
AlignOperands : AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine : false
AllowAllParametersOfDeclarationOnNextLine : false
AllowShortBlocksOnASingleLine : Always
AllowShortCaseLabelsOnASingleLine : false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine : false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine  : AllIfsAndElse
AllowShortLambdasOnASingleLine : Empty
AllowShortLoopsOnASingleLine : true
AlwaysBreakAfterReturnType : None
AlwaysBreakBeforeMultilineStrings : false
AlwaysBreakTemplateDeclarations : Yes
BinPackParameters : false
BitFieldColonSpacing : Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel : false
  AfterClass: false
  AfterControlStatement : Always
  AfterEnum: false
  AfterFunction : true
  AfterNamespace : false
  AfterStruct: false
  AfterUnion : false
  AfterExternBlock : false
  BeforeCatch : true
  BeforeElse : true
  BeforeLambdaBody: true
  BeforeWhile : false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
BreakBeforeBinaryOperators : NonAssignment
BreakBeforeConceptDeclarations : Always
BreakBeforeTernaryOperators : true
BreakConstructorInitializers : AfterColon
BreakStringLiterals : false
CompactNamespaces : true
ContinuationIndentWidth : 4
Cpp11BracedListStyle : false
DerivePointerAlignment : false
EmptyLineAfterAccessModifier : Leave
EmptyLineBeforeAccessModifier : LogicalBlock
ExperimentalAutoDetectBinPacking : true
FixNamespaceComments : true
IncludeBlocks : Preserve
IndentAccessModifiers : false
IndentCaseLabels : true
IndentExternBlock : true
IndentGotoLabels : false
IndentPPDirectives : AfterHash
IndentRequiresClause : true
IndentWidth : 4
IndentWrappedFunctionNames : true
InsertBraces : true
KeepEmptyLinesAtTheStartOfBlocks : true
Language : Cpp
LambdaBodyIndentation : Signature
MaxEmptyLinesToKeep : 2
PPIndentWidth : 2
PackConstructorInitializers : CurrentLine
PointerAlignment : Left
ReferenceAlignment : Left
ReflowComments : true
SeparateDefinitionBlocks : Always
SortIncludes : Never 
SortUsingDeclarations  : false
SpaceAfterCStyleCast :  false
SpaceAfterLogicalNot : false
SpaceAroundPointerQualifiers: Before
SpaceAfterTemplateKeyword : false
SpaceBeforeAssignmentOperators : true
SpaceBeforeCaseColon : true
SpaceBeforeCpp11BracedList : true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon : true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros : false
  AfterFunctionDeclarationName : false
  AfterFunctionDefinitionName : false
  AfterIfMacros : false
  AfterOverloadedOperator : true
  AfterRequiresInClause : false
  AfterRequiresInExpression : false
SpaceBeforeRangeBasedForLoopColon : true  
SpaceBeforeSquareBrackets : false
SpaceInEmptyBlock : false
SpaceInEmptyParentheses : false
SpacesBeforeTrailingComments : 4
SpacesInAngles : Never
SpacesInCStyleCastParentheses : false
SpacesInConditionalStatement : false
SpacesInParentheses : false
SpacesInSquareBrackets : false
TabWidth : 4